@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EmployeeLicenseModel

<div class="card bg-light">
    <h2 class="card-header text-center">Employee License Details</h2>
    <div class="card-body">
        <div class="row w-100">
            <div class="col-lg-6 text-capitalize">
                <div class="mb-4">
                    <h5>License:</h5>
                    <h5>class="text-muted">@Model.License</h5>
                </div>
                <div class="mb-4">
                    <h5>License Number:</h5>
                    <h5 class="text-muted">@Model.LicenseNumber</h5>
                </div>
                <div class="mb-4">
                    <h5>issued Date:</h5>
                    <h5 class="text-muted">@Model.IssuedDate</h5>
                </div>
                <div class="mb-4">
                    <h5>Expiry Date:</h5>
                    <h5 class="text-muted">@Model.ExpiryDate</h5>
                </div>


            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <h5>Comment:</h5>
                    <h5 class="text-muted">@Model.Comments</h5>
                </div>


            </div>

        </div>

        <hr />

        <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="EditEmployeeLicense" asp-route-Id="@Model.Id">Edit</a>

    </div>
</div>
