@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EmployeeModel

<div class="card bg-light">
    <h2 class="card-header text-center">Personal Details</h2>
    <div class="card-body">
        <div class="row w-100">
            <div class="col-lg-6 text-capitalize">
                <div class="mb-4">
                    <h5>First Name:</h5>
                    <h5 class="text-muted">@Model.FirstName</h5>
                </div>
                <div class="mb-4">
                    <h5>Last Name:</h5>
                    <h5 class="text-muted">@Model.LastName</h5>
                </div>
                <div class="mb-4">
                    <h5>Middle Name:</h5>
                    <h5 class="text-muted">@Model.MiddleName</h5>
                </div>
                <div class="mb-4">
                    <h5>Gender Name:</h5>
                    <h5 class="text-muted">@Model.Gender</h5>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="mb-4">
                    <h5>Marital Status:</h5>
                    <h5 class="text-muted">@Model.MaritalStatus</h5>
                </div>
                <div class="mb-4">
                    <h5>Date Of Birth:</h5>
                    <h5 class="text-muted">@Model.DateOfBirth</h5>
                </div>
                <div class="mb-4">
                    <h5>Nationality:</h5>
                    <h5 class="text-muted">@Model.Nationality</h5>
                </div>

            </div>

        </div>

        <hr />

        <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="EditEmployee" asp-route-Id="@Model.Id">Edit</a>

    </div>
</div>
