
@model List<EmployeeModel>
@{
    ViewData["Title"] = "Employee | HeroHRM human resource manager";
}

<partial name="_employeePartial" />
<section class="container mt-3">
    <div class="card">
        <div class="card-header text-center">
            <h3>Employee</h3>
        </div>
        <div class="card-body">
            <a class="btn btn-success" asp-controller="User" asp-action="signup">
                Add Add Employee
            </a>
        </div>
    </div>
    <div>
        @if (Model.Count > 0)
        {

            <table class="table table-striped table-hover border">
                <thead class="table-info">
                    <tr>
                        <th>
                            <label>FullName</label>
                        </th>
                        <th>
                            <label>Gender</label>
                        </th>
                        <th>
                            <label>Mariatal Status</label>
                        </th>

                        <th>
                            <label>Date of Birth</label>
                        </th>

                        <th>
                            <label>Created Date</label>
                        </th>
                        <th>
                            <label>Action</label>
                        </th>
                    </tr>

                </thead>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.FirstName)  @Html.DisplayFor(m => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MaritalStatus)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CreatedDate)
                </td>

                <td>
                    <a class="btn btn-outline-info" asp-controller="Employee" asp-action="Details" asp-route-Id="@item.Id">Details</a>

                    <a class="btn btn-outline-danger" asp-controller="Employee" asp-action="DeleteEmployee" asp-route-Id="@item.Id">Delete</a>

                </td>
            </tr>
                }

            </table>

        }
        else
        {
            <h3>No Information Found</h3>
        }


    </div>
</section>

