@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Employee Info| HeroHRM human resource manager";
}
@inject SignInManager<IdentityUser>  SignInManager
@inject UserManager<IdentityUser> UserManager
@inject HeroHRM.Repository.IEmployeeRepository _employeeRepo
@inject HeroHRM.Repository.IEmployeeSalaryRepository _employeeSalary
@inject HeroHRM.Repository.IJobCategoryRepository _jobCategory
@inject HeroHRM.Repository.IPayGradesRepository _payGrade
@inject HeroHRM.Repository.ICurrencyRepository _currency
@inject HeroHRM.Repository.IEmployeeJobRepository _employeeJob
@inject HeroHRM.Services.IUserServices _userService

@{
    var employee = await _employeeRepo.FindEmployeeByuserID(_userService.GetUserId());

    var job = await _employeeJob.FindByEmployeeId(employee.Id);
  
    var salary = await _employeeSalary.FindByEmployeeID(employee.Id);
    var category = await _jobCategory.FindJobCategory(job.JobCategoryId);
    var grade = await _payGrade.FindPayGrade(salary.PayGradeId);
    var currency = await _currency.FindCurrency(salary.CuurencyId);

}

<section class="container mt-3">
    <div class="card">
        <div class="card-header text-center">
            <h3>My Info</h3>
        </div>
        <div class="card-body d-flex">

            <div class="col-lg-6">
                <div class="card">
                    <h5 class="card-header">@employee.FirstName @employee.LastName</h5>
                    <img style="width:200px" src="@employee.Photograph" class="card-img" alt="...">
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">SALARY AMOUNT: <span class="text-muted">@salary.Amount</span> </li>
                            <li class="list-group-item">CURRENCY:  <span class="text-muted">@currency.Name</span></li>
                            <li class="list-group-item">PAY GRADE: <span class="text-muted">@grade.Name</span></li>
                            <li class="list-group-item">PAY FREQUENCY:  <span class="text-muted">@salary.PayFrequency</span> </li>
         
                        </ul>
                        <p><span class="text-muted"></span> </p>
                        <p><span class="text-muted"></span> </p>
                        <p><span class="text-muted"></span> </p>
                        <p><span class="text-muted"></span> </p>
                    </div>
                </div>


            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h5 class="card-header">Employee Job Summary</h5>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">Employment Status: @job.EmploymentStatus</li>

                            <li class="list-group-item">JOB TITLE: <span class="text-muted">@job.JobTitle</span> </li>
                            <li class="list-group-item">JOB CATEGORY:  <span class="text-muted">@category.Name</span></li>
                            <li class="list-group-item">COMPANY BRANCH: <span class="text-muted">@job.CompanyBranch</span></li>
                            <li class="list-group-item">DEPARTMENT:  <span class="text-muted">@job.Department</span> </li>
                            <li class="list-group-item">JOINED DATE: <span class="text-muted">@job.JoinedDate</span> </li>
                            <li class="list-group-item">CONTRACT START DATE: <span class="text-muted">@job.ContractStart</span> </li>
                            <li class="list-group-item">CONTRACT END DATE:  <span class="text-muted">@job.ContractEnd</span> </li>



                        </ul>
                    </div>

                </div>
         

            </div>


        </div>
    </div>


</section>